.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(11,11,11, 0.85); /* 50% transparent black */
    padding: 10px;



}

.header-left {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-left: 15%;
    display: flex;
    align-items: center;
    color: rgba(195,46,129,255);
}
.header-right{
    margin-right: 15%;
    color: rgba(46,186,194,255);
}

.header-left img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;

}

.header-right ul {
    margin-right: 15px;
    display: flex;
    list-style: none;
    padding: 0;
}

.header-right li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-right: 15px;
    cursor: pointer;
}

/* Body Styles */

.app {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url("img/background_targets50.jpg");


}
body{
    margin: 0;

}

#game-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    background-color: rgba(11,11,11, 255); /* 50% transparent black */
    border: 10px solid #dd2fa9;
    cursor: crosshair;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.game-targets{
    margin-left:25%;
    margin-right: 25%;
}

.button {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid rgba(46,186,194,255);
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

a {
    color: rgba(46,186,194,255);
    text-decoration: none;
    letter-spacing: 1px;
}

.button:hover{
    border: 2px solid rgba(195,46,129,255);
}



/* start button */

#start-button,
#retry-button{
    display: inline-flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .35s ease-out;

}

#start-button a,
#retry-button a{
    color: rgba(46, 186, 194, 255);
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}

#start-button:hover a,
#retry-button:hover a{
    color: rgba(195,46,129,255);
}
/* Final score */



.target {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*background-image: url("img/target_new.jpg");*/
    background-size: cover;
    border: none;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(11,11,11,255);
    color: rgba(195,46,129,255);
    padding: 0 25px;

}
#score {
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(11,11,11,255);
    color: rgba(46,186,194,255);
    padding: 0 25px;
}

#score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score-container p {
    font-size: 16px;
    color: rgba(195,46,129,255);
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 40px;
    width: 150px;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.game-stats {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    height: 50px;
    margin-top: 30px;


}



/* Media Queries */

@media screen and (max-width: 768px) {
    .header-left,
    .header-right {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .header h1 {
        margin: 0;

    }

    #game-container,
    .app {
        width: 100%;
        max-width: none;
    }
}

/* amount of targets styles */

#target-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin: 10px 30%;

    color: rgba(46,186,194,255);
    background-color: rgba(11,11,11,255);
    width:40%;

}

#target-amount,
#target-scale {
    font-size: 20px;
    font-weight: bold;
}


#target-scale{

    display: flex;
    flex-direction: column;
    align-items: center;
}
#decrease-targets,
#increase-targets {
    margin: 5px;
}

.arrow{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
/* top results styles */

.top-results {
    position: relative;
    width: 100%;
    max-width: 740px;
    height: 450px;
    background-color: rgba(11,11,11,255);
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 40px;

}
.top-results h1{
    text-align: center;
    margin: 0 0 16px;
    color: #dd2fa9;
}


#score-list {

    list-style: decimal;
}


#score-list li {
    display: flex;
    width: 100%;
    color: rgba(46,186,194,255);

}
#score-div{
    width : 10%;
    padding: 10px;
}
#target-div{
    width : 20%;
    padding: 10px;
}
#date-div{
    width : 25%;
    padding: 10px;
}
#score-list li::before {
    content: counter(list-item);
    counter-increment: list-item;
    align-self: center;
    color: black;
    font-size: 20px;
    background:#dd2fa9;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 24px;
    text-align: center;
}



/* Footer styles*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(11,11,11, 0.85); /* 50% transparent black */
    color: white;



}

.footer-left {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-left: 15%;
    display: flex;
    align-items: center;
    color: rgba(195,46,129,255);
}
.footer-right{
    margin-right: 15%;
}

.footer-left img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.footer-right ul {
    margin-right: 15px;
    display: flex;
    list-style: none;
    padding: 0;
    color: rgba(46,186,194,255);
}

.footer-right li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-right: 15px;
    cursor: pointer;
}

