.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;


}

.header-left {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-left: 15%;
    display: flex;
    align-items: center;
}
.header-right{
    margin-right: 15%;
}

.header-left img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header-right ul {
    margin-right: 15px;
    display: flex;
    list-style: none;
    padding: 0;
}

.header-right li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-right: 15px;
    cursor: pointer;
}

/* Body Styles */

.app {
    width: 100%;
    margin: 0 auto;
}
body{
    margin: 0;
}

#game-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    background-color: #e0e0e0;
    border: 1px solid #000;
    cursor: crosshair;
    margin-left: auto;
    margin-right: auto;
}

#start-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.target {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("https://img.favpng.com/13/16/7/bullseye-computer-icons-font-awesome-shooting-target-png-favpng-LQW94ceyXaUG8aDiXbE79hBsd.jpg");
    background-size: cover;
    border: none;
}

#timer,
#score {
    font-size: 20px;
    font-weight: bold;
}

#score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-stats {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
}

#retry-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-top: 10px;
    cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .header-left,
    .header-right {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .header h1 {
        margin: 0;
    }

    #game-container,
    .app {
        width: 100%;
        max-width: none;
    }
}

/* amount of targets styles */

#target-controls{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin: 10px 30%;

}

#target-amount,
#target-scale {
    font-size: 20px;
    font-weight: bold;
}


#target-scale{

    display: flex;
    flex-direction: column;
    align-items: center;
}
#decrease-targets,
#increase-targets {
    margin: 5px;
}

.arrow{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
/* top results styles */

.top-results {
    position: relative;
    width: 100%;
    max-width: 740px;
    height: 450px;
    background-color: #e0e0e0;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 40px;

}
.top-results h1{
    text-align: center;
    margin: 0 0 16px;
}


#score-list {

    list-style: decimal;
}


#score-list li {
    display: flex;
    width: 100%;
}
#score-div{
    width : 10%;
    padding: 10px;
}
#target-div{
    width : 20%;
    padding: 10px;
}
#date-div{
    width : 25%;
    padding: 10px;
}
#score-list li::before {
    content: counter(list-item);
    counter-increment: list-item;
    align-self: center;
    color: #fff;
    font-size: 20px;
    background: #002c48;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 24px;
    text-align: center;
}



/* Footer styles*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;



}

.footer-left {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-left: 15%;
    display: flex;
    align-items: center;
}
.footer-right{
    margin-right: 15%;
}

.footer-left img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-right ul {
    margin-right: 15px;
    display: flex;
    list-style: none;
    padding: 0;
}

.footer-right li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: monospace;
    margin-right: 15px;
    cursor: pointer;
}